.flipper > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.btn-front, .btn-back {
    backface-visibility: hidden;
}

.btn-front {
    z-index: 2;
}

.btn-back {
    z-index: 1;
    transform: rotateY(180deg);
}