[data-theme="dark"] {
  color: #eee;
  background: linear-gradient(to bottom right, #000000,#292828) !important;
}

[data-theme="dark"] .bg-primary {
  background-color: rgb(2, 80, 180) !important;
}

[data-theme="dark"] #tsunami-logo {
  content: url("../assets/tsunami_logo_white.png") !important;
}

[data-theme="dark"] .bg-light {
  background-color: rgb(15, 15, 15) !important;
}

[data-theme="dark"] table {
  color: white;
}

[data-theme="dark"] a {
  color: white;
}

[data-theme="dark"] .nav-link.active {
  border: none;
  color: white;
  background-color: rgb(2, 80, 150) !important;
}

[data-theme="dark"] .nav-link:hover {
  border: none;
}

[data-theme="dark"] .side-bar {
  background-color: rgba(40, 40, 40, 0.2) !important;
}

[data-theme="dark"] .topnav {
  background-color: rgba(40, 40, 40, 0.2) !important;
}

[data-theme="dark"] .sidebar-active {
  background-color: rgb(2, 80, 150) !important;
}

[data-theme="dark"] a:hover {
  background-color: rgb(2, 80, 150) !important;
  color: white !important;
}

[data-theme="dark"] #profile-cover {
  content: url('../assets/profile_cover_default_dark.jpg');
}

[data-theme="dark"] .modal-content {
  background-color: rgb(15, 15, 15);
}

[data-theme="dark"] #delete-account-btn:hover {
  background-color: darkred !important;
}