.container{
    margin-top: 100px;
}

.dailyflash{
    background: red;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.cold-md-7 h2{
    color: #555;
}

.stars{
    height: 25px;
}

.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.cart{
    background: #FE980F;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
}

#profile-photo {
    margin-top: -10px;
    width: 50px;
    height: 50px;
}