.display-5 {
    font-size: 2.0rem;
    font-weight: 300;
}

.checkout-btn {
    height: 50px;
    width: 200px;
    border: solid 2px lightskyblue;
    background: none;
    border-radius: 25px 25px 25px 25px;
    color: lightblue;
    transition: all 0.5s;
}
  
.checkout-btn:hover {
    background-color: lightskyblue;
    color: white;
}

.checkout-btn:focus {
    outline: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}