.metro {
    width: 100%;
    height: 200px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out;
}

.big-metro {
    width: 100%;
    height: 400px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out; 
}

.metro:hover, .big-metro:hover {
    opacity: 0.75;
    transform: scale(0.95);
}

#books-action {
    background-color: lightcoral;
}

#books-fantasy {
    background-color: lightseagreen;
}

#books-children {
    background-color: lightpink;
}

#books-history {
    background-color: lightskyblue;
}

#books-politics {
    background-color: lightgreen;
}

#books-selfhelp {
    background-color: lightslategray;
}

#books-scifi {
    background-color: peachpuff;
}

#books-food {
    background-color: rosybrown;
}

#automotive-car {
    background-color: skyblue;
}

#automotive-spareparts {
    background-color: springgreen;
}