.topnav {
    overflow: hidden;
    position: fixed !important;
    background-color: #e9e9e9;
    border-radius: 25px 25px 25px 25px;
    width: 98% !important
}

/*
    Hide scrollbar
*/

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/*
    Custom Form Control Style
*/

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

/*
    Parallax Style
*/

.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

#parallax-1 {
    background: linear-gradient(200deg, #7F7FD5, #86A8E7, #91EAE4)
}

/*
    Custom Bootstrap Display class
*/

.display-6 {
    font-size: 1.75rem;
    font-weight: 300;
}