.metro {
    width: 100%;
    height: 200px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out;
}

.big-metro {
    width: 100%;
    height: 400px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out;
}

.metro:hover, .big-metro:hover {
    opacity: 0.90;
    transform: scale(0.95);
}

#books-action {
    background-color: lightcoral;
}

#books-fantasy {
    background-color: lightseagreen;
}

#books-children {
    background-color: lightpink;
}

#books-history {
    background-color: lightskyblue;
}

#books-politics {
    background-color: lightgreen;
}

#books-selfhelp {
    background-color: lightslategray;
}

#books-scifi {
    background-color: peachpuff;
}

#books-food {
    background-color: rosybrown;
}

#automotive-accessories {
    background-color: skyblue;
}

#automotive-spareparts {
    background-color: springgreen;
}

.flipper {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}

#accessories-flipper { 
    animation: flip 8s ease-in-out infinite;
}

#spareparts-flipper {
    animation: flip 12s ease-in-out infinite;
}

@keyframes flip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

.flipper > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.metro:hover .flipper, .metro.hover .flipper {
    transform: rotateY(180deg);
}

.btn-front, .btn-back {
    backface-visibility: hidden;
}

.btn-front {
    z-index: 2;
}

.btn-back {
    z-index: 1;
    transform: rotateY(180deg);
}