#bills-jumbotron {
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(208, 239, 255, 0.5);
    background-color: rgba(red, green, blue, alpha);
}

.bills-btn {
    width: 150px;
    height: 150px;
    border-radius: 25px 25px 25px 25px;
}

.btn:hover {
    background-color: #B7F8DB;
}