.bills-btn {
    width: 125px;
    height: 125px;
    border-radius: 25px 25px 25px 25px;
}

.btn:hover {
    background-color: #B7F8DB;
}

a {
    color: gray;
}

a:hover {
    color: black;
}

/* Card Effects */

.card {
    transition: 0.5s all;
}

.card:hover {
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0, 0.2);
    transform: scale(1.15);
}


/* Custom Bootstrap Typography Effect */

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
}

.display-6 {
    font-size: 1.25rem;
    font-weight: 300;
}