
@font-face { /*Title*/
    font-family: RobotoSlab;
    src: url(../Fonts/RobotoSlab-ExtraBold.ttf);
}

@font-face { /*Description*/
    font-family: Bebas;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

.metro {
    width: 100%;
    height: 200px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out;
    justify-items: center;
}

.big-metro {
    width: 100%;
    height: 400px;
    font-size: 24px;
    color: black;
    border: none;
    transition: all 0.5s ease-in-out;
}

.metro:hover, .big-metro:hover {
    opacity: 0.90;
    transform: scale(0.95);
}

.flipper {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.display-4 {
    font-family: RobotoSlab; 
}

.btn-front {
    font-family: Bebas;
}

.btn-back {
    font-family: Bebas;
}

/* Books Category Flipper */

#action-flipper {
    animation: flip 20s ease-in-out infinite;
}

#children-flipper {
    animation: flip 14s ease-in-out infinite;
}

#history-flipper {
    animation: flip 10s ease-in-out infinite;
}

#fantasy-flipper {
    animation: flip 5s ease-in-out infinite;
}

#politics-flipper {
    animation: flip 25s ease-in-out infinite;
}

#selfhelp-flipper {
    animation: flip 23s ease-in-out infinite;
}

#scifi-flipper {
    animation: flip 9s ease-in-out infinite;
}

#food-flipper {
    animation: flip 16s ease-in-out infinite;
}

/* Automotive Category Flipper */

#accessories-flipper { 
    animation: flip 14s ease-in-out infinite;
}

#car-flipper {
    animation: flip 5s ease-in-out infinite;
}

#spareparts-flipper {
    animation: flip 12s ease-in-out infinite;
}

#wheels-flipper {
    animation: flip 10s ease-in-out infinite;
}

/* Beauty Category Flipper */

#hair-acc-flipper {
    animation: flip 9s ease-in-out infinite;
}

#paint-flipper {
    animation: flip 20s ease-in-out infinite;
}

#nail-art-flipper {
    animation: flip 13s ease-in-out infinite;
}

#lip-care-flipper {
    animation: flip 4s ease-in-out infinite;
}

#facial-mask-flipper {
    animation: flip 7s ease-in-out infinite;
}

#eye-makeup-flipper {
    animation: flip 5s ease-in-out infinite;
}

#hair-styling-flipper {
    animation: flip 8s ease-in-out infinite;
}

/* Electronic Category Flipper */

#ac-flipper {
    animation: flip 8s ease-in-out infinite;
}

#audio-flipper {
    animation: flip 20s ease-in-out infinite;
}

#kitchen-electr-flipper {
    animation: flip 10s ease-in-out infinite;
}

#household-electr-flipper {
    animation: flip 5s ease-in-out infinite;
}

#lights-flipper {
    animation: flip 7s ease-in-out infinite;
}

#tv-flipper {
    animation: flip 9s ease-in-out infinite;
}

#vaporizer-flipper {
    animation: flip 14s ease-in-out infinite;
}

/* Fashion Category Flipper */

#men-flipper {
    animation: flip 10s ease-in-out infinite;
}

#unisex-flipper {
    animation: flip 15s ease-in-out infinite;
}

#women-flipper {
    animation: flip 20s ease-in-out infinite;
}

#swim-flipper {
    animation: flip 14s ease-in-out infinite;
}

/* Food and Drink Flipper */
#ingredients-flipper {
    animation: flip 10s ease-in-out infinite;
}

#rice-flipper {
    animation: flip 7s ease-in-out infinite;
}

#snacks-flipper {
    animation: flip 4s ease-in-out infinite;
}

#drink-flipper {
    animation: flip 12s ease-in-out infinite;
}

#parcel-flipper {
    animation: flip 20s ease-in-out infinite;
}

#dairy-flipper {
    animation: flip 14s ease-in-out infinite;
}

#meat-flipper {
    animation: flip 10s ease-in-out infinite; 
}

/* Household Category Flipper */

#bedroom-flipper {
    animation: flip 4s ease-in-out infinite; 
}

#toilet-flipper {
    animation: flip 10s ease-in-out infinite; 
}

#house-decor-flipper {
    animation: flip 8s ease-in-out infinite; 
}

#furniture-flipper {
    animation: flip 15s ease-in-out infinite; 
}

#hygiene-flipper {
    animation: flip 11s ease-in-out infinite; 
}

#other-flipper {
    animation: flip 18s ease-in-out infinite; 
}

/* Kitchen Category Flipper */

#kitchen-acc-flipper {
    animation: flip 7s ease-in-out infinite; 
}

#food-storage-flipper {
    animation: flip 12s ease-in-out infinite; 
}

#baking-flipper {
    animation: flip 10s ease-in-out infinite; 
}

#cooking-flipper {
    animation: flip 5s ease-in-out infinite; 
}

#cutlery-flipper {
    animation: flip 15s ease-in-out infinite; 
}

#dishwasher-flipper {
    animation: flip 9s ease-in-out infinite; 
}

/* Health Category Flipper */
#supplement-flipper {
    animation: flip 6s ease-in-out infinite; 
}

#vitamin-flipper {
    animation: flip 5s ease-in-out infinite; 
}

#mask-flipper {
    animation: flip 9s ease-in-out infinite; 
}

#medicine-flipper {
    animation: flip 10s ease-in-out infinite; 
}

#medical-flipper {
    animation: flip 7s ease-in-out infinite;
}

/* Sport Category Flipper */

#sport-acc-flipper {
    animation: flip 12s ease-in-out infinite;
}

#fish-flipper {
    animation: flip 8s ease-in-out infinite;
}

#football-flipper {
    animation: flip 15s ease-in-out infinite;
}

#basketball-flipper {
    animation: flip 4s ease-in-out infinite;
}

#badminton-flipper {
    animation: flip 7s ease-in-out infinite;
}

#golf-flipper {
    animation: flip 9s ease-in-out infinite;
}

#boxing-flipper {
    animation: flip 12s ease-in-out infinite;
}

#gym-flipper {
    animation: flip 15s ease-in-out infinite;
}



@keyframes flip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}