body {
  margin: 0px;
}


.numberCircle {
  display: inline-block;
  background: white;
  border: solid 2px lightskyblue;
  text-align: center;
  line-height: 0px;
  border-radius: 50%;
  font-size: 20px;
  min-width: 38px;
  min-height: 38px;
}

.numberCircle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 1px;
  margin-right: 1px;
}

.active {
  background-color: lightskyblue;
}

.continue-btn {
  height: 50px;
  width: 200px;
  border: solid 2px lightskyblue;
  background: none;
  border-radius: 25px 25px 25px 25px;
  color: lightblue;
  transition: all 0.5s;
}

.continue-btn:hover {
  background-color: lightskyblue;
  color: white;
}

.continue-btn:focus {
  outline: none;
}